<!DOCTYPE html>
<html>
  <head>
    <title>Paleo Data: Home</title>
  </head>
  <body>
    <a href="/" class="navigation" rel="home-page"><h1>Paleo Data Home</h1></a>
    <p>
        This is a web application for storing and updating Paleo Recipes.
    </p>
    <ul>
        <li>
            <a href="/recipe/" class="navigation" rel="all-recipes"><h2>List All Paleo Recipes</h2></a>
        </li>
        <li>
            <a href="/ingredient/" class="navigation" rel="all-ingredients"><h2>List All Paleo Ingredients</h2></a>
        </li>
    </ul>
    
  </body>
</html>

